
<div class="input-group">
  <input class="form-control" type="text" placeholder="Name..."
        [(ngModel)]="searchParams.name" (keyup.enter)="searchCreeps()">
  <span class="input-group-btn">
    <button class="btn" (click)="searchCreeps()">Search</button>
  </span>
</div>

<div *ngIf="creeps">
  <div *ngFor="let creep of creeps">
    <a routerLink="/creep/id/{{creep.id}}">{{creep.name}}</a>
  </div>
</div>

<nav aria-label="Search results" *ngIf="creeps">
  <ul class="pagination">
    <li class="page-item"><a class="page-link">Previous</a></li>
    <li class="page-item" *ngFor="let pageNum of pages"
        [ngClass]="{'active': pageNum == currentPage}">
      <a class="page-link">{{pageNum}}</a>
    </li>
    <li class="page-item"><a class="page-link">Next</a></li>
  </ul>
</nav>