
<div class="row">
  
  <div class="col-3 form-group">
    <label class="control-label" for="search-name">Creature Name</label>
    <input class="form-control" type="text" placeholder="Name..." id="search-name"
          #creepName [(ngModel)]="nameQuery" (keyup.enter)="searchCreeps()">
  </div>

  <div class="col-3 form-group">
    <label for="select-type">Type</label>
    <div>
      <select class="form-control" id="select-type"
            [(ngModel)]="creepType">

        <option value=""></option>
        <option *ngFor="let type of creepTypes"
                [selected]="type == creepType">{{type}}</option>
      </select>
    </div>
  </div>

  <div class="col-2 form-group">
    <label for="cr-min">CR Min</label>
    <div>
      <input class="form-control" type="number" id="cr-min">
    </div>
  </div>

  <div class="col-2 form-group">
    <label for="cr-max">CR Max</label>
    <div>
      <input class="form-control" type="number" id="cr-max">
    </div>
  </div>

  <div class="col-2 form-group">
    <label for="btn-search"> &nbsp; </label>
    <div>
    <button class="btn" id="btn-search"
            (click)="searchCreeps(creepName.value)">Search</button>
    </div>
  </div>

</div>

<div *ngIf="creeps">
  <div *ngFor="let creep of creeps">
    <a routerLink="/creep/id/{{creep.id}}">{{creep.name}}</a>
  </div>
</div>

<nav aria-label="Search results" *ngIf="creeps">
  <ul class="pagination">
    <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
    <li class="page-item" *ngFor="let pageNum of pages"
        [ngClass]="{'active': pageNum == currentPage}">
      <a class="page-link" routerLink="./" [queryParams]="{page: pageNum}"
          queryParamsHandling="merge">{{pageNum}}</a>
    </li>
    <!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
  </ul>
</nav>