<div *ngIf="creep">

  <div class="row">
  <div class="col-6">
  <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">

    <div role="tablist">
      <div class="card">

        <div class="card-header" role="tab">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Name block
            </a>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            
            <div class="form-group row">
              <label for="name" class="form-label col-4">Name</label>
              <input id="name" name="name" type="text" required placeholder="Creature name"
                    class="form-control col-8" [(ngModel)]="creep.name" #nameElem #name="ngModel"
                    (focus)="nameFocused=true" (blur)="nameFocused=false">
              <p [hidden]="!nameFocused || name.valid" class="alert alert-danger col">
                Name is required
              </p>
            </div>
            
            <div class="form-group row">
              <label for="size" class="form-label col-4">Size</label>
              <input id="size" name="size" type="text" required placeholder="Size"
                    class="form-control col-8" [(ngModel)]="creep.size" [ngbTypeahead]="sizeSearch">
            </div>
            
            <div class="form-group row">
              <label for="type" class="form-label col-4">Type</label>
              <input id="type" name="type" type="text" required placeholder="Type"
                    class="form-control col-8" [(ngModel)]="creep.type" [ngbTypeahead]="typeSearch">
            </div>
            
            <div class="form-group row">
              <label for="subtype" class="form-label col-4">Subtype</label>
              <input id="subtype" name="subtype" type="text" placeholder="Subtype"
                    class="form-control col-8" [(ngModel)]="creep.subtype">
            </div>
            
            <div class="form-group row">
              <label for="alignment" class="form-label col-4">Alignment</label>
              <input id="alignment" name="alignment" type="text" required placeholder="Alignment"
                    class="form-control col-8" [(ngModel)]="creep.alignment" [ngbTypeahead]="alignmentSearch">
            </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              AC block
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">

            <div class="form-group row">
              <label for="armor_class" class="form-label col-4">Armor class</label>
              <input id="armor_class" name="armor_class" type="number" class="form-control col-8"
                      [(ngModel)]="creep.armor_class" min="0" required>
            </div>

            <div class="form-group row">
              <label for="hit_points" class="form-label col-4">Hit points</label>
              <input id="hit_points" name="hit_points" type="number" class="form-control col-8"
                      [(ngModel)]="creep.hit_points" min="0" required>
            </div>
            
            <div class="form-group row">
              <label for="hit_dice" class="form-label col-4">Hit dice</label>
              <input id="hit_dice" name="hit_dice" type="text" class="form-control col-8"
                      [(ngModel)]="creep.hit_dice">
            </div>

            <div class="form-group row">
              <label for="speed" class="form-label col-4">Speed</label>
              <input id="speed" name="speed" type="text" class="form-control col-8"
                      [(ngModel)]="creep.speed" required>
            </div>

          </div>
        </div>
      </div>      

      <div class="card">
        <div class="card-header" role="tab">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              Stats
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">

            <div *ngIf="creep" class="row">
              <div class="col-4 text-center">
                <label>STR</label>
                <input name="stat-str" type="number" class="form-control" [(ngModel)]="creep.strength">
              </div>
              <div class="col-4 text-center">
                <label>DEX</label>
                <input name="stat-dex" type="number" class="form-control" [(ngModel)]="creep.dexterity">
              </div>
              <div class="col-4 text-center">
                <label>CON</label>
                <input name="stat-con" type="number" class="form-control" [(ngModel)]="creep.constitution">
              </div>
              <div class="col-4 text-center">
                <label>INT</label>
                <input name="stat-int" type="number" class="form-control" [(ngModel)]="creep.intelligence">
              </div>
              <div class="col-4 text-center">
                <label>WIS</label>
                <input name="stat-wis" type="number" class="form-control" [(ngModel)]="creep.wisdom">
              </div>
              <div class="col-4 text-center">
                <label>CHA</label>
                <input name="stat-cha" type="number" class="form-control" [(ngModel)]="creep.charisma">
              </div>
            </div>

          </div>
        </div>
      </div>  

    </div>

    <button type="submit" class="btn btn-success"
            [disabled]="!editForm.form.valid">Save Creature</button>

  </form>
  </div>
  <div class="col-6">
    <app-stat-block [creep]="creep" #statBlock></app-stat-block>
  </div>
  </div>

</div>
